## Path to config file for the agent bot
RUN_CONFIG_PATH="./run-config/run-config-agent-coston-testxrp.json"

## Enable the following line on Windows to allow reading secrets, since secrets file permission check does not work
# ALLOW_SECRETS_ON_WINDOWS=true

## (Optional) Path to config file for users, instead you can use `-c` parameter
# FASSET_USER_CONFIG="./run-config/run-config-agent-coston-testxrp.json"
## (Optional) Path to secrests json file for users, instead you can use `-s` parameter
# FASSET_USER_SECRETS=""
## (Optional) Path to directory, used for storing unexecuted minting
# FASSET_USER_DATA_DIR=""