.vscode/*
**/node_modules/*
**/src/**/mock/*
**/typechain-truffle/*
**/log/*
**/dist/*
**/coverage/*
**/artifacts/*
**/cache/*
**/hardhat.config.ts
**/test/*
**/test-hardhat/*
**/test/types/*
mikro-orm.config.ts
