[Unit]
Description = Agent bot
After = network-online.target
Wants = network-online.target
After = mysqld.service
Wants = mysqld.service

[Service]
Type = exec
ExecStart = /usr/bin/node packages/fasset-bots-cli/dist/src/run/run-agent.js
WorkingDirectory = /home/fasset-bots/fasset-bots
Restart = always
RestartSec = 10
StandardOutput = journal
StandardError = journal
SyslogIdentifier = agent-bot
User = fasset-bots
Group = fasset-bots
Environment = LANG=C.UTF-8 SHELL=/bin/bash

[Install]
WantedBy = multi-user.target
