[Unit]
Description = Time keeper bot
After = network-online.target
Wants = network-online.target

[Service]
Type = exec
ExecStart = /usr/bin/node dist/src/run/run-timekeeper.ts
WorkingDirectory = /home/fasset-bots/fasset-bots
Restart = always
RestartSec = 10
StandardOutput = journal
StandardError = journal
SyslogIdentifier = timekeeper-bot
User = fasset-bots
Group = fasset-bots
Environment = LANG=C.UTF-8 SHELL=/bin/bash

[Install]
WantedBy = multi-user.target
